*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#eaf7ef;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;
}

.contenedor{

    width:420px;

    height:720px;

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 35px rgba(0,0,0,.2);

    display:flex;

    flex-direction:column;
}

.cabecera{

    background:#3cb371;

    color:white;

    padding:20px;

    text-align:center;

    font-size:28px;

    font-weight:bold;
}

.cabecera p{

    margin-top:8px;

    font-size:14px;

    font-weight:normal;
}

.chat{

    flex:1;

    overflow-y:auto;

    padding:20px;

    background:#f6fdf8;
}

.mensaje{

    margin-bottom:15px;

    padding:12px 16px;

    border-radius:15px;

    max-width:80%;

    line-height:1.5;
}

.usuario{

    background:#3cb371;

    color:white;

    margin-left:auto;
}

.bot{

    background:#ececec;

    color:#333;
}

.entrada{

    display:flex;

    padding:15px;

    background:white;

    border-top:1px solid #ddd;
}

input{

    flex:1;

    padding:12px;

    border-radius:10px;

    border:1px solid #ccc;

    outline:none;

    font-size:16px;
}

button{

    margin-left:10px;

    padding:12px 20px;

    background:#3cb371;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#2f9b5d;

    transform:scale(1.03);

}
/*======================================
CABECERA NUEVA
======================================*/

.titulo{

    font-size:28px;

    font-weight:bold;

}

.subtitulo{

    margin-top:8px;

    font-size:14px;

}

.estado{

    margin-top:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:8px;

    font-size:13px;

    font-weight:bold;

}

.online{

    width:10px;

    height:10px;

    border-radius:50%;

    background:#00ff66;

    display:inline-block;

    box-shadow:0 0 8px #00ff66;

}
/*======================================
ANIMACIÓN DE MENSAJES
======================================*/

.mensaje{

    animation: aparecer .25s ease;

}

@keyframes aparecer{

    from{

        opacity:0;

        transform:translateY(10px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
